*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body {
    background: linear-gradient(skyblue,pink);
}
#wrap{
	width: 910px;
	height: 500px;
	margin: 10px auto;
}
.r_Text{
	float: left;
	width: 450px;
	height: 500px;
	background: #fff;
}
.nav{
	margin: 30px;
}
.nav h2{
	display: inline-block;
    font-size: 20px;
    font-weight: normal;
    color: red;
}
.nav span{
	cursor: pointer;

}

.L_Text{
	float: right;
	width: 450px;
	height: 500px;
	background: rgba(0,0,0,0.3);
	margin-left: 10px;
}

.show p{
	display: inline-block;
    padding: 4px;
    margin: 10px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #999;
    border: 1px solid;
}
.show p span{
	cursor: pointer;
	margin-left: 5px;
}

.rn {
    padding-left: 20px;
    padding-top: 40px;
}

.rn span{
	display: inline-block;
    margin: 10px;
    padding: 4px;
    color: white;
    border: 1px solid;
}