*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font: 12/1.5 "微软雅黑";
}
#wrap{
	overflow: hidden;
    position: relative;
    width: 525px;
    height: 385px;
    margin: 50px auto;
    background-color: pink;
}
#wrap #text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#text p.bold {
    font-weight: bold;
}
#text p {
    height: 40px;
    padding: 0 0 0 20px;
    line-height: 18px;
    font-size: 12px;
}
#wrap #scroll {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 385px;
    background-color: #ddd;
    border-radius: 5px;
    
}
#wrap #scroll div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
}