*{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#wrapper .now{
    color: rgb(234,15,45);
}
header{
    border-top: 1px solid;
    border-bottom: 1px solid rgb(213, 213, 213);
    background-color: rgb(250, 250, 250);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
header::after{
    clear: both;
    display: block;
    content: "";
}
header a{   
    display:table-cell; 
    padding:1em 0.4em; 
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}
header .underline{
    border-top:3px solid rgb(235,23,52);
    height: 0;
    display: none;
}
header a:link{color: black;}
header a:visited{color: black;}
header a:hover +.underline{display: block;}
header .wrap{   
    /* width用于响应式 */
    width: 75%;
    margin: 0 auto;
} 
header .left{  
    position: relative;
    line-height: 0;
    width: 45%;
    float: left;
}
header span{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6em;
    font-weight: 800;
}
header img{   
    cursor: pointer;
    width:70px;
    height:auto;
}
nav,ul{
    float: left;
}
nav ul li{  
    border-right: 2em solid transparent;
    list-style: none;
    float: left;
}
#login{
    width:500px;
    height: 500px;
    background-color: #fff;
    margin: 50px auto 0 auto;
}
#login div{
    width:400px;
    margin-left: auto;
    margin-right: auto;
}
#login .for_underline{
    text-align: center;
    width:400px;
    height: 40px;
    margin: 100px auto 0 auto;
    border-bottom: 1px solid;
}
#login .for_input input{
    width:385px;
    height: 40px;
    margin: 30px auto 0 auto;
    padding-left: 10px;
    font-size: 0.9em;
}
#login .for_message #message{
    width:220px;
    height: 40px;
    margin: 30px auto 0 auto;
    padding-left: 10px;
    font-size: 0.9em;   
    margin-right: 20px;
}
#login .for_message #mes{
    box-shadow: -2px 3px 5px rgba(0,0,0,0.2);
    outline:none;
    cursor: pointer;
    border: none;
    background-color:#28c928;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width:140px;
    height: 40px;
    margin: 30px auto 0 auto;
    padding-left: 10px;
    font-size: 0.9em;
}
#login .for_message #mes:active{
    background-color: green;
}
#login .for_button input{
    box-shadow: -2px 5px 5px rgba(0,0,0,0.2);
    outline:none;
    cursor: pointer;
    color: #fff;
    margin:30px 0 0 100px;
    width: 200px;
    height: 40px;
    background-color: rgb(242, 14, 51);
    border-radius: 20px;
    border: none;
}
#login .for_button input:active{
    background-color:rgb(187, 3, 3);
}
.tips{
    width: 360px;
    height: 40px;
    position: fixed;
    top:-40px;
    transition: all 0.5s;
    left: 50%;
    transform: translateX(-50%);
}
.tips .tips_red{
    font-size: 1.2em;
    color: #fff;
    line-height: 40px;
    text-align: center;
    float: left;
    height: 40px;
    width: 40px;
    background-color: rgb(242, 14, 51);
}
.tips .error{   
    color: #C7C7CD;
    padding-left: 10px;
    line-height: 40px;
    float: left;
    width: 300px;
    height: 40px;
    background-color: #fff;
}

@media screen and (max-width: 1400px){
    header .wrap{   
        width: 80%;
    } 
}
@media screen and (max-width: 1300px){
    header .wrap{   
        width: 80%;
    } 
    header .left{  
        width: 35%;
    }
}
@media screen and (max-width: 1200px){
    header .wrap{   
        width: 90%;
    } 
    header .left{  
        width: 25%;
    }
}
@media screen and (max-width: 1000px){
    header .wrap{   
        width: 90%;
    } 
    header .left{  
        width: 60%;
    }
    header{
        position: relative;
    }
    nav{
        cursor: pointer;
        position: absolute;
        top:50%;
        left: 80%;
        transform: translateY(-50%);
        float: right;
        width: 54px;
        height: 54px;
        border: solid 1px #aaa;
        background:url(https://s1.ax1x.com/2018/05/05/CNrOvd.png) no-repeat 50% 50%;
        background-size: 40% 40%;
    }
    nav:hover>ul{
        display: block;
    }
    ul{
        display: none;
        float: none;
    }
    nav ul li:first-child{
        margin-top: 55px;
    }
    nav ul li{ 
        margin-left: -1px;
        width: 56px;
        list-style: none;
        float: none;
    }
    header a{  
        width: 56px;
        background-color:  #aaa;
        font-size: 0.6em;
        text-align: center;
    }
    header a:hover +.underline{display: none;}
}