body{
	font: 12px/1.5 "微软雅黑";
	color: #999;
}
.header .h-nav{
	/*min-width: 1230px;*/
	height:32px;
	background:#f2f2f2;
	border-bottom: 1px solid #ddd;
}
.header .h-nav .nav-conter{
	width: 1230px;
	height: 32px;
	line-height:32px;
	margin: auto;
}
.header .h-nav .nav-conter .rightsidebar{
	float: right;
}
.header .h-nav .nav-conter .rightsidebar >li{
	z-index: 1;
	float: left;
}

.header .h-nav .nav-conter .rightsidebar >li.ps{
	border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid transparent;
    z-index:5;
}
.header .h-nav .nav-conter .rightsidebar >li.ps:hover{
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: 1px solid #fff;

}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen{
	display:none;
    position: absolute;
    left:-1px;
    top: 32px;
    width: 100%;
    line-height: 1.5;
	padding: 8px 10px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    z-index: -1;
}
.header .h-nav .nav-conter .rightsidebar >li:hover .submen{
   display: block;
}
.header .h-nav .nav-conter .rightsidebar >li:hover .i-Tsan{
	transform: rotate(180deg);
}
.header .h-nav .nav-conter .rightsidebar >li:hover .Acdu{
	color:#ff0036;
	text-decoration: underline;
}
.header .h-nav .nav-conter .rightsidebar >li span{
	padding: 0 2px;
    font-weight: 700;
	color: #000;
	font-family: Arial;
}
.header .h-nav .nav-conter .rightsidebar >li:hover span.sp{
	color:#ff0036;
}
.header .h-nav .nav-conter .rightsidebar >li:nth-child(5){
    margin: 0px 2px 0px 5px;
}
.header .h-nav .nav-conter .rightsidebar >li:nth-child(5) span{
	border-left: 1px solid #999;
}
.header .h-nav .nav-conter .rightsidebar >li:nth-child(6):hover .erweima{
	position: absolute;
    top: 33px;
    left: -45px;
  	display: block;
}
.erweima:after{
	position: absolute;
    top: -4px;
    left: 85px;
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	border: 4px solid transparent;
	border-bottom-color: #fff;
	border-top:none;
}
.header .h-nav .nav-conter .rightsidebar >li:nth-child(6) .erweima{
	display: none;
	position: absolute;
	width: 175px;
	height: 227px;
	background: #fff;
	left: -48px;
	top: 29px;
	box-shadow: 0 0 5px #aaa;
	text-align: center;
}
.header .h-nav .nav-conter .rightsidebar >li.red-color a:hover{
  color: #ff0036;
  text-decoration: underline;
}
.header .h-nav .nav-conter .rightsidebar >li:nth-child(6) .erweima .imgewm{
	width: 175px;
	height: 175px;
	margin: 5px 0 0px;
	background: url(../images/saoma.png) no-repeat 0 0;
}
.header .h-nav .nav-conter .rightsidebar >li:nth-child(6) .erweima .imgbottm{
	background:url(../images/saoma.png)no-repeat center bottom ;
	margin: 0 30px;
    width: 145px;
    height: 35px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-1{
	width: 122px;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-top: none;
    right: -1px;
    left: auto;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-1 > ul >li{
	margin-right: -22px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-1 > ul >li p{
    width: 83%;
    border-bottom: 1px dotted #999;
    margin: 8px 0;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-1 > ul >li h3{
      color: #666;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-1 > ul >li a{
    margin-right: 20px;
    width: 48px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2{
	width: 1200px;
	height: 200px;
    border: 1px solid #ddd;
    border-top: none;
    right: -1px;
    left: auto;
    padding: 25px 0;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 div{
    padding-left:20px;
    height: 200px;
    border-right: 1px solid #ddd;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Hot{
	    width: 285px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Market{
	    width: 380px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Brand{
	    width: 285px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Brand{
	    width: 285px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Help{
	    width:165px;
}
.h2Font{
    font-size: 16px;
    padding-bottom: 8px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Hot h2{
    font-weight: 100;
	color:#f56a00;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Hot h2 span{
	color:#f56a00;
	padding-left:6px;
	font-weight: 100;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Hot >ul{
	margin-left:0px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Hot >ul li{
    float: left;
    width: 95px;
    padding: 6px 0;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Hot >ul li > a{
	color: #666;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Hot >ul li a:hover{
	color:#f56a00;
	text-decoration:underline;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Market h2{
	font-weight: 100;;
	color:#2263d4;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Market h2 span{
	color:#2263d4;
	padding-left:6px;
	font-weight: 100;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Market >ul{
	margin-left:0px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Market >ul li{
	width: 95px;
	float: left;
	padding: 6px 0;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Market >ul li a{
	position: relative;
	color: #666;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Market >ul li a:hover{
	color:#2263d4;
	text-decoration:underline;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Brand h2{
	font-weight: 100;;
	color:#000;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Brand h2 span{
	color:#000;
	padding-left:6px;
	font-weight: 100;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Brand >ul{
	margin-left: 0px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Brand >ul li{
	width: 95px;
	float: left;
	padding: 6px 0;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Brand >ul li a{
	color: #000;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Brand >ul li a:hover{
	color: #000;
	text-decoration:underline;
}

.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Help h2{
	font-weight: 100;;
	color:#666;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Help h2 span{
	color:#666;
	padding-left:6px;
	font-weight: 100;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Help >ul{
	margin-left: 0px;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Help >ul li{
	width: 95px;
	float: left;
	padding: 6px 0;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Help >ul li a{
	color: #666;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 .menu-Help >ul li a:hover{
	color: #666;
	text-decoration:underline;
}
.header .h-nav .nav-conter .rightsidebar >li.ps .submen-2 div.bor-rr{
	border-right:none;
}
/*头部顶头 end*/



.header .h-search{
	/*min-width: 1230px;*/
	/*height: 130px;*/
}
.header .h-search .searchCon{
	width: 1230px;
	height: 130px;
	background:#fff;
}
.searchCon h1{
	float: left;
	width: 290px;
	height: 130px;
	margin-left:-20px;
}
.searchCon h1 img{
	display: block;
	width: 240px;
	height:130px;
}
.searchCon .form-search form{
	padding-top:30px;
	padding-left: 20px;
}
.searchCon .form-search form .text{
	float: left;
	width: 491px;
	height: 36px;
	border: 2px solid #ff0036;
	text-indent:5px;
	vertical-align: middle;
	font: 16px/22px arial;
	outline: none;
}
.searchCon .form-search form .submit{
	float: left;
	width: 132px;
	height:42px;
	color: #fff;
	background: #ff0036 ;
	font-size: 18px;
	font-weight: 700;
	vertical-align: middle;
	border:none;
	outline: none;
}
.searchCon .form-search  ul.searchList{
	height: 18px;
	padding:8px 0 0;
	margin-left:13px;
    font-size: 15px;
}
.searchCon .form-search  .searchList li{
	float: left;
	border-left: 1px solid #ccc;
	padding: 0 10px;
	line-height: 1.1;
}
.searchCon .form-search  .searchList li a{
	font-weight:500;
	font-family: "宋体";
}
.searchCon .form-search  .searchList li:nth-child(1){
	border: none;
}





.m-nav{

	background:#ff0036;
	height: 36px;
}
.m-nav .mianNav{
	width:1230px;
	height: 36px;
	margin:auto;
}
.m-nav .mianNav .leftNav{
	height:36px;
	margin-left:210px;
}
.m-nav .mianNav .leftNav a{
	position: relative;
	height: 36px;
	line-height: 36px;
	float: left;
	padding: 0 15px;
	font-weight: 500;
	font-size: 16px;
	display: block;
	color: #fff;
}
.m-nav .mianNav .leftNav a img{
	display: block;
	width: 90px;
	height: 36px;
}
.m-nav .mianNav .leftNav a .hover-pic{
	position: absolute;
	display: block;
	width: 40px;
	height: 15px;
	top: 0;
	left: 50%;
	margin-left: -20px;
	background: url(../images/tmllerduo.png) no-repeat;
	background-size:40px 15px;
	transition: .3s;
	opacity:0;
}
.m-nav .mianNav .leftNav a:hover .hover-pic{
	top: -15px;
	opacity: 1;
}



.banner{

	/*background:#d39742;*/
}
.banner .bannerCon{
	width: 100%;
	height: 500px;
/*	width: 1230px;
	height: 500px;
	margin: auto;*/
}
.banner .bannerCon .ban-img{
	width: 100%;
	height: 500px;
}
.banner .bannerCon .ban-img li{
	position: absolute;
	width: 100%;
	height: 500px;
	display: none;
	top: 0;
	left: 0;
}
.banner .bannerCon .ban-img li .bannerAuto{
	position:relative;
	width: 1230px;
	height: 500px;
	margin: auto;
}
.banner .bannerCon .ban-img li .bannerAuto .rImg{
	position: absolute;
	top:5px;
	right:25px;
	width: 220px;
	height: 480px;
}
.banner .bannerCon .ban-img li .bannerAuto .rImg a{
	display: block;
	width: 220px;
	height: 234px;
	background-color: rgba(225, 225, 225, 0.7);
}
.banner .bannerCon .ban-img li .bannerAuto .rImg a:hover{
	background: #fff;
}
.banner .bannerCon .ban-img li .bannerAuto .rImg a.img-top{
	margin-bottom: 12px;
}
.banner .bannerCon .ban-img li .bannerAuto .rImg a img{
	display: block;
	width: 100%;
	height: 100%;
}
.banner .bannerCon .ban-img li img{
	display: block;
	width:1130px;
	margin: auto;
}
.banner .bannerCon .btnList{
	left: 50%;
	bottom:20px;
	height:22px;
	margin-left: -100px;
}
.banner .bannerCon .btnList >a{
	float: left;
	display: block;
	width:21px;
	height:21px;
	background:rgba(0,0,0,.2);
	border-radius:50%;
	margin-left:15px;
}
.banner .bannerCon .btnList a.active{
	background:#f1f1f1;
}
.sidebarNav{
	top:0;
	left:0;
	z-index: 1;
}
.sidebarNav .title{
	width: 200px;
	height: 36px;
	line-height: 36px;
	background: #e22127;
	color: #fff;
}
.sidebarNav .title i.iconList{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-left: 14px;
    font-weight: 700;
	color: #fff;
}
.sidebarNav .title h2{
	display: inline-block;
	font-size: 16px;
	margin-left: 8px;
	font-weight: 700;
}
.sidebarNav .titleList{
	position: relative;
	width: 200px;
	height: 500px;
	background:#eee
}
.sidebarNav .titleList >li{
	float: left;
	width: 200px;
	height: 31.2px;
	line-height: 31.2px;
	color: #000;
	font-size: 14px;
}
.sidebarNav .titleList >li:hover{
	background: #fff;
}
.sidebarNav .titleList >li a{
	font-size: 14px;
	line-height: 31.2px;
	color: #000;
}
.sidebarNav .titleList >li:hover .TwoMenu{
	display: block;
}
.sidebarNav .titleList >li .TwoMenu{
	display: none;
	height: 500px;
	width: 852px;
	top:0;
	left: 200px;
	position: absolute;
	background-color: #fff;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL{
	float: left;
	width: 583px;
	height: 462px;
	margin:9px 30px;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter{
	
	width: 100%;
	height: 100%;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl{
	/*position: relative;*/
	line-height: 34px;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dt{
	position: relative;
	float: left;
    width: 60px;
    height: 22px;
    line-height: 22px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dt h5{
	display: inline-block;
    width: 60px;
    margin-top:8px;
    font-size: 15px;
    overflow: hidden;
    text-align: justify;
    text-align-last: justify;	
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dt i.arrow{
	position: absolute;
	display: block;
	top:9px;
	left:65px;
	font-size: 10px;
	color:#777;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd{
    float: left;
    width: 494px;
    padding: 5px 0;
    margin-left:29px;
    border-bottom: 1px dashed #ddd;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd >a{
    margin-left: 13px;
    float: left;
    height: 22px;
    color: #666;
    font-size: 14px;
    font-weight:normal;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd .ce857{
	color: #e85687;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd .c5580{
	color: #588cf0;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd .c55ee{
	color:#6f55ee;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd .ce966{
	color:#ec6c96;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd .cf993{
	color:#fc9393;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd .cf7a4{
	color:#f7ae40;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd .cdd27{
	color:#dd2727;
}
.sidebarNav .titleList >li .TwoMenu .TwoMenuL .MenuL-conter dl dd .c4bb5{
	color:#49cbb5;
}

.sidebarNav .titleList >li .TwoMenu .MenuR-conter{
	float: left;
	width: 189px;
	height: 480px;
	padding: 10px;
	background-color: #FAFAFA;
}
.sidebarNav .titleList >li .TwoMenu .MenuR-conter .MenConImg a{
	float: left;
	width: 73px;
	margin-right: 1px;
	margin-bottom: 1px;
	height: 37px;
	padding: 5px 10px;
	overflow: hidden;
	background-color: #fff;
}
.sidebarNav .titleList >li .TwoMenu .MenuR-conter .MenConImg a img{
	display: block;
	width: 73px;
}
.sidebarNav .titleList >li .TwoMenu .MenuR-conter .MenBtnImg{
	margin-top: 10px;
}
.sidebarNav .titleList >li .TwoMenu .MenuR-conter .MenBtnImg a img{
	float: left;
	width: 189px;
	height: 87px;
}




.live{
	/*min-width: 1230px;*/
	height: 436px;
	background: #f5f5f5;
	padding-top:60px;
}
.live .live-box{
	width: 1230px;
	height: 436px;
	background: #fff;
    margin:auto;
}
.live .live-box .LeftLive{
    float: left;
    height: 436px;
    width: 488px;
    background:#050505;
    overflow: hidden;
}
.live .live-box .LeftLive .left-box .ul-Top{
	width: 488px;
	height: 275px;
	background: url(../images/live/LTop.jpg) no-repeat  center/cover;
}
.live .live-box .LeftLive .left-box .ul-Top p.lievTime{
	display: inline-block;
	top:15px;
	right:16px;
	height: 20px;
	line-height:19px;
	padding:1px 7px;;
	font-size: 12px;
	color: #fff;
	border-radius:10px;
	background-color: rgba(0,0,0,.6);
}
.live .live-box .LeftLive .left-box .ul-Top p.lievTime:before{
	content:"";
	display: inline-block;
	width:8px;
	height:8px;
	margin-right: 3px;
	border-radius:50%;
	background: red;
}
.live .live-box .LeftLive .left-box .ul-Top .palyBtn{
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -35px;
    margin-left: -28.5px;
	display: block;
	width: 70px;
    height: 57px;

}
.live .live-box .LeftLive .left-box .ul-Top .palyBtn:hover img{
	transform: scale(1.2,1.1);
	 transition:.3;
}
.live .live-box .LeftLive .left-box .ul-Top .palyBtn img{
	display: block;
	width: 100%;
	height: 100%;
}
.live .live-box .LeftLive .left-box .ul-Top span.Text{
	bottom: 43px;
	left:50%;
	margin-left:-96px;
	font-size: 24px;
    line-height: 33px;
    color: #fff;
    text-align: center;
}
.live .live-box .LeftLive .left-box .ul-Top .time{
	position: absolute;
	bottom: 17px;
	left: 50%;
	margin-left:-69.5px;
	color: #fff;
    line-height: 17px;
    font-size: 16px;
}
.live .live-box .LeftLive .left-box .ul-Top .time >i{
	color: #fff;
	line-height: 17px;
    font-size: 16px;
}
.live .live-box .LeftLive .left-box .ul-bottom{
	width:488px;
	height: 90px;
	margin-top: 10px;
}
.live .live-box .LeftLive .left-box .ul-bottom a{
	display: inline-block;
	width: 160px;
	height: 90px;
}
.live .live-box .LeftLive .left-box .ul-bottom:hover a:before{
	opacity: 1;
}
.live .live-box .LeftLive .left-box .ul-bottom a:before{
	content: "";
	display: block;
	width: 160px;
	height: 90px;
	background:rgba(0,0,0,.3);
	opacity:0;
}
.live .live-box .LeftLive .left-box .ul-bottom a:nth-child(1):before{
	opacity:1;
}
.live .live-box .LeftLive .left-box .ul-bottom a.imgS{
	background: url(../images/live/LTop.jpg) no-repeat center/cover;
}
.live .live-box .LeftLive .left-box .ul-bottom a img{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 36px;
	height: 29px;
	margin-left:-18px;
	margin-top:-14.5px;
	opacity:0;
}
.live .live-box .LeftLive .left-box .ul-bottom a:nth-child(1) img{
 	opacity: 1;
}
.live .live-box .LeftLive .left-box .ul-bottom:hover a img{
	opacity: 1;
}
.live .live-box .LeftLive .left-box .ul-bottom a span{
	position: absolute;
    padding: 0 2px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 100%;
    height: 17px;
    color: #fff;
    bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}

.live .live-box .LeftLive .left-box  .liveBotton{
    width: 390px;
    height: 40px;
    margin-top: 10px;
    margin-left: 21px;
    overflow: hidden;
}
.live .live-box .LeftLive .left-box  .liveBotton .zhibo{
	float: left;
    width: 81px;
    height: 31px;
    margin: 4px 9px 0 0;
    background: url(../images/live/live.png) no-repeat;
}
.live .live-box .LeftLive .left-box  .liveBotton .bannerTitle{
    float: left;
    width: 300px;
    height: 40px;
 /*   overflow: hidden;*/
}
.live .live-box .LeftLive .left-box  .liveBotton .bannerTitle .Titls{
	position: relative;
	top: 0;
	width: 300px;
	height:500px;
}
.live .live-box .LeftLive .left-box  .liveBotton .bannerTitle .Titls >li{
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    color:#368;
}
.live .live-box .LeftLive .left-box  .liveBotton .bannerTitle .Titls >li .p-text{
    color: #fff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.live .live-box .LeftLive .left-box  .liveBotton .bannerTitle .Titls >li .p-text1{
    color: #fd4889;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




.live .live-box .RightList{
	float: right;
   	width: 732px;
   	height:436px;
   	background: #f5f5f5;
}
.live .live-box .RightList .RightCon >li{
	position: relative;
	float: left;
    width: 121px;
    height: 108px;
    margin: 0 1px 1px 0px;
}
.live .live-box .RightList .RightCon >li .Right-imgList{
    text-align: center;
    line-height: 108px;
    background: #fff;
}
.live .live-box .RightList .RightCon >li .RConter{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    opacity:0;
    transition:1s;
    cursor: pointer;
}
.live .live-box .RightList .RightCon >li .RConter span{
	position: absolute;
    top: 5px;
    left: 50%;
    height: 60px;
    line-height: 90px;
    margin-left: -36.33px;
	color: #fff;
}
.live .live-box .RightList .RightCon >li .RConter a{
	position: absolute;
	bottom:25px;
	left: 50%;
	margin-left:-31.5px;
	display: block;
	width: 63px;
	height: 18px;
    line-height:16px;
	color:#fff;
	border-radius:10px;
	background: #ff4242;
	text-align: center;
}
.live .live-box .RightList .RightCon >li:hover .RConter{
	opacity:1;
}
.live .live-box .RightList .RightCon >li.last:hover .Right-imgList{
	background:#dd2727;
	transition:1s;
}

.live .live-box .RightList .RightCon >li.last:hover .Right-imgList i{
	transform:rotate(320deg);
	transition:1s;
	color: #fff;
}
.live .live-box .RightList .RightCon >li.last:hover .Right-imgList span.coupon1{
	color: #fff;
}
.live .live-box .RightList .RightCon >li.last .Right-imgList i{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -30px;
    font-size: 30px;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
    color: #ccc;
}
.live .live-box .RightList .RightCon >li.last{
	overflow: hidden;
}
.live .live-box .RightList .RightCon >li.last .Right-imgList .coupon1{
	display: block;
    font-size: 14px;
    line-height: 136px;
    text-align: center;
    overflow: hidden;
}


.products{
	/*min-width: 1230px;*/
	height:577px;
	background: #f5f5f5;
	padding-top:30px;
}
.products .productsBox{
	width: 1230px;
	height:577px;
	margin:auto;
}
.products .productsBox .productsTop{
	width: 100%;
	height:477px;
}
.products .productsBox .productsTop .pro-Conter >li{
	float: left;
    width: 238px;
    height: 476px;
    margin-right:10px;
    text-align: center;
    background:#fff;
	border-bottom: 1px solid transparent;

}
.products .productsBox .productsTop .pro-Conter >li h3{
	height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #fff;
	font-weight:700;
    background:#ff0036;
}
.products .productsBox .productsTop .pro-Conter >li h3 i.yifu{
	font-size:16px;
	color: #fff;
}
.products .productsBox .productsTop .pro-Conter >li div{
	display: block;
	width: 238px;
    height: 220px;
    overflow: hidden;
}
.products .productsBox .productsTop .pro-Conter >li .Conter-main .Textcon a{
	display: block;
	height: 24px;
	color: #000;
    line-height: 24px;
    margin-top: 19px;
    font-size: 22px;
}
.products .productsBox .productsTop .pro-Conter >li .Conter-main .Textcon1 a{
	display: block;
	height: 14px;
    line-height: 14px;
    margin-top: 5px;
    font-size: 14px;
    color: #888;

}
.products .productsBox .productsTop .pro-Conter >li .Conter-main p.TextImg{
	top:50%;
	left: 50%;
	margin: -38px 0 0 -70px;
	width: 140px;
	height: 140px;
	border-radius:50%;
	background: #f7f7f7;
}
.products .productsBox .productsTop .pro-Conter >li .Conter-main p.TextImg a{
	display: block;
	width: 100%;
	height: 100%;
	border-radius:50%;
	background: #f7f7f7;
}
.products .productsBox .productsTop .pro-Conter >li .Conter-main p.TextImg a img{
	display: block;
	width: 100%;
	height: 100%;

}
.products .productsBox .productsTop .pro-Conter >li .Conter-main p.TextImg a:hover img{
	transform: scale(1.1);
	transition:.5;
}
.products .productsBox .productsTop .pro-Conter >li span.line{
	display: block;
    width: 200px;
    height: 1px;
    backgroundr:#EEE;
    margin: 0 auto;

}
.products .productsBox .productsTop .pro-Conter >li .Conter-main p.TextImg a >span{
	display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    height: 140px;
    background: #000;
    opacity:.03;
    border-radius:50%;
    z-index:999;
}
.products .productsBox .productsBot{
	height:90px;
	margin-top: 10px;
}
.products .productsBox .productsBot a img{
	display: block;
	width: 100%;
	height: 100%;
}



.articles{
	/*min-width: 1230px;*/
	background:#f5f5f5;
	padding-top: 30px;
}
.articlesBox{
	width:1230px;
	margin: auto;
	z-index: 0;
}
.articlesBox .textConter{
	border-left:5px solid #ea5f8d;
}
.articlesBox .textConter p{
	display: inline-block;
	font-size: 18px;
    color: #000;
    line-height: 18px;
    height: 18px;
    margin-left:10px;
    vertical-align: top;
}
.articlesBox .textConter span{
	display: inline-block;
	height: 18px;
	font-size: 14px;
	color:#000;
	vertical-align: bottom;
}
.articlesBox  .articlesBoxFont .navlabel{
	position: absolute;
    top:0px;
    right: 0;
	text-align: right;
}
.articlesBox  .articlesBoxFont .navlabel a{
	position: relative;
	float:left;
	height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    color:#222;
    font-size: 14px;
    border-bottom: 1px solid #f5f5f5;
}
.articlesBox  .articlesBoxFont .navlabel a:hover{
	border-bottom: 1px solid #000;
}
.articlesBox  .articlesBoxFont .footerBox{
	width:1230px;
	height:440px;
	float: left;
	margin-top:15px;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L{
	position: relative;
	float: left;
	width: 246px;
    height: 440px;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L > a:before{
	position: absolute;
	top: 0;
	left:0;
	display: block;
	content:"";
	width: 246px;
	height:330px;
	z-index: 111;
	background:rgba(225,225,225,.2);
	opacity:0;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L:hover  a:before{
	opacity: 1;
	transition:1s;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L a img{
	display: block;
	width: 246px;
	height:330px;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L .footerLcon{
	position: absolute;
	bottom:110px;
	left: 0;
	width: 246px;
	height:30px;
	background: rgba(225,225,225,.9);
	/*background:rgba(249,241,288);*/
	overflow: hidden;
	text-align: center;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L .footerLText{
	position: relative;
	top: 0;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L .footerLText li{
	text-align: center;
	width: 246px;
	height:30px;
	line-height:30px;
	color: #222;
	z-index:99999;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L  .title-con{
	width: 246px;
	height: 110px;
	background: #ea5f8d;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L  .title-con .titleM{
	width: 100%;
	color: #fff;
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
    font-size: 22px;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L  .title-con .sub-title{
	width: 100%;
	color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: inherit;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L  .title-con .tmallLogo{
    position: absolute;
    left: 0;
    bottom: 0;
	width: 100%;
    height: 30px;
    background: url(../images/articles/tmallLogo.png) no-repeat;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-L:hover .footerLcon ul.footerLText li{
	color:#ff0036;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-Main{
	float: left;
	width: 735px;
	height: 440px;
	overflow: hidden;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-Main .MainU li{
	position: relative;
	float: left;
	width: 244px;
	height:220px;
	background:#fff;
	border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
	overflow: hidden;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-Main .MainU li a{
	display: block;
	width: 100%;
	height: 100%;

}
.articlesBox  .articlesBoxFont .footerBox .footerB-Main .MainU li a p{
	width: 220px;
	height: 24px;
    font-size: 18px;
    z-index: 99999;
    white-space: nowrap;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-Main .MainU li a p.MainU-P{
	position: absolute;
	top: 25px;
    left: 25px;
	color:#222;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-Main .MainU li a p.MainU-P1{
	position: absolute;
    top: 54px;
    left: 25px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #f195b4;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-Main .MainU li a img{
	position: absolute;
	bottom:0;
	right: 0;
	display: block;
	width: 154px;
    height: 154px;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-Main .MainU li:hover img{
	margin-right:10px;
	transition:1s;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-right{
	width:248px;
	float: left;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-right .footerR-Right li{
	float: left;
	width: 248px;
    height: 146px;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    background: #fff;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-right .footerR-Right li p{
	width: 220px;
	height: 24px;
    font-size: 18px;
    z-index: 99999;
    white-space: nowrap;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-right .footerR-Right li a p.MainU-P{
	position: absolute;
	top: 25px;
    left: 25px;
	color:#222;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-right .footerR-Right li a p.MainU-P1{
	position: absolute;
    top: 54px;
    left: 25px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #f195b4;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-right .footerR-Right li img{
	position: absolute;
	bottom:0;
	right: 0;
	display: block;
	height: 100px;
	width: 100px;
}
.articlesBox  .articlesBoxFont .footerBox .footerB-right .footerR-Right li:hover img{
	margin-right:10px;
	transition:1s;
}

.articlesBox .productsBot1{
	float: left;
	height: 90px;
    margin-top: 10px;
}
.articlesBox .productsBot1 img{
	display: block;
	width: 1230px;
	height: 100%;
}
.fidexInp{
	/*display: none;*/
	position: fixed;
	top:-60px;
	width: 100%;
	height:60px;
	background:rgb(226,43,49);
	z-index:1;
	transition: top .3s ease-in;
}
.fidexInp .fidexFrom{
	width:1230px;
	margin: auto;
}
.fidexInp .fidexFrom span.tMALL{
	font-size:30px;
	line-height:60px;
	color:#fff;
	font-family: "方正平黑繁体";
}
.fidexInp .fidexFrom form{
	float: left;

}
.fidexInp .fidexFrom form input.tmAlltext{
	float: left;
	width: 640px;
    height:20px;
    line-height:20px;
    margin:15px 0 0 80px;
    padding:8px 3px 5px 5px;
    outline:none;
    border: none;
    font-weight:500;
    z-index: 2;
}
.fidexInp .fidexFrom form input.tmAllBtn{
    float: left;
    width:100px;
    height:34px;
    margin:15px 0;
    color: #fff;
    background:#ff0036;
    font-size: 18px;
    font-weight:500;
    border: none;
    outline: none;
}
/*.fixeds{
	display: block;


}*/
.love1{
	/*min-width: 1230px;*/
	background:#f5f5f5;
	padding-top: 30px;
}
.loveBox{
	width:1230px;
	margin: auto;
	margin-top: -30px;
}
.loveBox h2{
	text-align: center;
	font-weight:200;
}
.loveBox h2 span i.loveL{
    position: relative;
    top: 1px;
    margin-right: 4px;
    font-size: 20px;
    color: #ff0036;
}
.loveBox h2 span{
	font-size: 18px;
	font-weight:200;
    line-height: 20px;
}
.loveBox h2 span:before{
	position: absolute;
	top: 12px;
	left:-45px;
    content: '';
    width: 30px;
    height: 1px;
    background: #979797;
}
.loveBox h2 span:after{
	position: absolute;
	top: 12px;
	right: -45px;
	content: '';
    width: 30px;
    height: 1px;
    background: #979797;
}
.loveconter{
	margin-top: 25px;
	padding-bottom: 1px;;
}
.loveconter .conterBig{
	width: 1230px;
}
.loveconter .conterBig ul li{
	float: left;
	width: 235px;
	margin-right:11px;
	background: #fff;
    margin-bottom:15px;

}
.loveconter .conterBig ul li:hover a{
	border: 1px solid red;
}
.loveconter .conterBig ul li a{
	position: relative;
	display:block;
	width: 235px;
	margin-right:7px;
	border: 1px solid transparent;
}
.loveconter .conterBig ul li a:before{
	position:absolute;
	top: 0;
	left: 0;
	display:block;
	content: "";
	width: 235px;
	height: 235px;
	background:rgba(255,255,255,0.5);
	opacity:0;
}
.loveconter .conterBig ul li:hover a:before{
	opacity:.8;
	transition: all 1s;
}
/*.loveconter .conterBig ul li a{
    display: block;
    border: 2px solid #fff;
    background: #fff;
    overflow: hidden;
    margin-right:7px;
    margin-bottom:7px;
}*/
.loveconter .conterBig ul li a img{
	display: block;
	width:235px;
	height: 235px;
}
.loveconter .conterBig ul li a .ptext{
    display: block;
    padding: 14px 12px 8px;
    text-align: left;
}
.loveconter .conterBig ul li a .ptext .s-text{
	display: block;
	height: 34px;
    font-size: 13px;
    line-height: 18px;
    color: #666;
    overflow: hidden;
}
.loveconter .conterBig ul li a .ptext .s-text1{
	display: block;
	font-size: 16px;
	color: #f60;
    line-height: 22px;
    margin-top: 2px;
}
.loveconter .conterBig span.end{
	display: block;
	width: 80px;
    height: 45px;
    margin: 0 auto 10px;
    background: url(../images/love/end.png) no-repeat center/cover;
}


.footer{
	border-top: 1px solid #ddd;
}

.footerT{
	width:1190px;
	height: 100px;
	margin: 25px auto;
	background: url(../images/footer/nav.jpg) no-repeat;
}
.footerT .footService a{
	float: left;
	display: block;
	width: 297px;
    height: 100px;
}

.footMBig{
	border-bottom:2px solid #ff0036;
}
.footM-guide{
	width:1190px;
	margin: auto;
	padding-top: 22px;
	border-top: 1px solid #eee;
	;
	background:url(../images/footer/tmallLogon.jpg) no-repeat 45px bottom;
	background-size:68px 25px;
}
.footM-guide .guideList li{
	float: left;
	width: 186px;
    padding-left: 52px;
    padding-bottom: 20px;
}
.footM-guide .guideList li h4{
	height: 30px;
    line-height: 30px;
    font-size: 16px;
	color: #646464;
    font-weight:700;

}
.footM-guide .guideList li a{
	display: block;
    width: 100px;
    height: 20px;
    color: #888;
    line-height: 20px;
    overflow: hidden;

}
.footM-guide .guideList li.lastLi a{
	display: block;
	width: 100px;
	height: 100px;
}
.footM-guide .guideList li.lastLi a img{
	width: 100px;
	height: 100px;
}

.footBot{
	background:#000;
}
 .footBot-Box{
	width: 1190px;
	margin: auto;
}
 .footBot-Box p{
 	line-height:25px;
 	padding: 5px 0;
 	color: #fff;
 }
 .footBot-Box p.box-p a{
    margin-right:10px;
    color: #fff;
}
 .footBot-Box p.box-p1 a{
 	margin-right:3px;
 }
 .footBot-Box p.box-p1 a:after{
   display:inline-block;
   content: "|";
   color: #fff;
   margin-left:8px;
}
 .footBot-Box p.box-p1 a.lastA:after{
 	display:inline-block;
   content: "";
 }

.foot-copyright{
	width: 1190px;
	line-height: 20px;
    color: #aaa;
	margin: auto;
}
.foot-copyright span a{
    color: #aaa;
    margin-right:65px;
}
 .foot-copyright p{
 	margin-top: 5px;
 }
.foot-copyright p a{
	 color: #aaa;
    margin-right:65px;
}
.foot-copyright p span{
	display: inline-block;
	margin-left:30px;
}
.foot-copyright b{
    color: #686868;
    font-weight: 400;
}
.foot-copyright p.imgP{
	padding-top: 10px;
	padding-bottom:20px;
}
.foot-copyright p.imgP a.aMr{
	margin-right:10px;
}



.verticalNav{
	display: none;
	position: fixed;
	left: 50%;
	bottom:50px;
	width: 35px;
	height: 350px;
	margin-left:-660px;
	z-index: 1;
}
.vertical h5{
    width: 36px;
    height:36px;
    cursor: pointer;
    margin-top: 1px;
    color: #fff;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    background: #FF0036;
}
.vertical ul li{
    width: 30px;
    height: 33px;
    cursor: pointer;
    text-align: center;
    margin-top: 1px;
    padding: 3px;
    color: #fff;
    font-size: 5px;
    background-color: #666;
}
.vertical .topBtn{
	width: 30px;
    height: 33px;
    cursor: pointer;
    text-align: center;
    margin-top: 1px;
    padding: 3px;
    color: #fff;
    font-size: 5px;
    background-color: #666;
}
.vertical ul li:nth-child(1).on{
	background: #EA5F8D;
}
.vertical ul li:nth-child(2).on{
	background: #0AA6E8;
}
.vertical ul li:nth-child(3).on{
	background: #64C333;
}
.vertical ul li:nth-child(4).on{
	background:#F15453;
}
.vertical ul li:nth-child(5).on{
	background:#49CBB5;
}
.vertical ul li:nth-child(6).on{
	background:#F7A945;
}
.vertical ul li:nth-child(7).on{
	background:red;
}

.vertical ul li:nth-child(8){
	background:#ababab;
}

.vertical ul li:nth-child(1).on1{
	background: #EA5F8D;
}
.vertical ul li:nth-child(2).on1{
	background: #0AA6E8;
}
.vertical ul li:nth-child(3).on1{
	background: #64C333;
}
.vertical ul li:nth-child(4).on1{
	background:#F15453;
}
.vertical ul li:nth-child(5).on1{
	background:#49CBB5;
}
.vertical ul li:nth-child(6).on1{
	background:#F7A945;
}
.vertical ul li:nth-child(7).on1{
	background:#000;
}

.RightUnit{
	position: fixed;
	top: 0;
	right:0;
	width: 35px;
	height:100%;
	background: #000;
	z-index: 9999;
}
.RightUnit .Unit{
    margin:250px 0px 0px;
}
.RightUnit .Unit li{
	position: relative;
	width: 35px;
	height: 35px;
	z-index: 9;
	margin: 8px 0;
}
.RightUnit .Unit li:nth-child(2){
	width: 35px;
	height: 100px;
	margin: 8px 0px;
}
.RightUnit .Unit li:nth-child(2) .tli-conter{
	width: 22px;
	padding:10px 0px;
	margin-left:6px;
	color: #FFF;
	text-align:center;
	border: 1px solid #444;
    border-width: 1px 0;
}
.RightUnit .Unit li:nth-child(2) i{
	z-index: 9;
	font-size:22px;
}
.RightUnit .Unit li:nth-child(2):hover i{
	color: #fff;
}
.RightUnit .Unit li:nth-child(3){
	margin-top:20px;
}
.RightUnit .Unit li:nth-child(8){
	margin-top:150px;
}

.RightUnit .Unit li:hover:after{
	position: absolute;
	top: 0;
	left:0;
	display: block;
	content: "";
	width:100%;
	height:100%;
	background:#FF0036;
	z-index: -1;
}
.RightUnit .Unit li p{
	position: absolute;
	top: 0;
	left:-140px;
	width:100px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	background:#999;
	z-index:20;
	opacity:0;
	visibility:hidden;
	transition:.5s;
}
.RightUnit .Unit li p:after{
	position: absolute;
	top: 50%;
	margin-top:-6.5px;
	right:-6px;
	display: block;
	content: "";
	width: 0px;
	height: 0px;
	border:7px solid transparent;
	border-left-color:#999;
	border-right:none;
}
.RightUnit .Unit li:nth-child(9) p.imgRwm{
    position: absolute;
    top: -161px;
    left: -154px;
    width: 155px;
    height: 207px;
    opacity:0;
	visibility:hidden;
	background: url(../images/RightUnit/ewm.png) no-repeat;
}
.RightUnit .Unit li:nth-child(9) p.imgRwm img{
	display: block;
	width: 100px;
    height: 100px;
    margin: 45px 0 0 27px;
}
.RightUnit .Unit li:nth-child(9) p.imgRwm span{
    display: block;
    width: 140px;
    height: 45px;
    background: url(../images/RightUnit/fuli.png) no-repeat 10px 0px;	
}
.RightUnit .Unit li:nth-child(9) p.imgRwm:after
{
	border: none;
}
.RightUnit .Unit li:nth-child(10){
	display: none;
}
